.footer {
    background-color: $primary;
    color: $white;

    .container {
        display: flex;
        justify-content: space-between;
    }

    .footerNav {
        display: flex;
        padding: 60.02px 0 35.98px 0;
        gap: 48px;
        font-size: 16px;
        line-height: 1.5;

        a {
            color: $white;
            text-decoration: none;
        }

    }

    .footerText {

        padding-bottom: 32px;

        a {
            color: $white;
            text-decoration: none;
            font-size: 36px;
            line-height: 1.5;
        }

        span {
            vertical-align: middle;
            padding-right: 22px;
            font-size: 36px;
        }



    }

    .footerRight {

        display: flex;
        gap: 16px;
        padding-top: 48px;

        img {
            width: 48px;
            height: 48px;

        }
    }

    .footerCopyright {
        border-top: 1px solid $white;
        padding: 32px 0;
        display: flex;
        justify-content: space-between;

        .footerCn {
            display: flex;
            gap: 48px
        }
    }
}