.footer {
    background-color: $primary;
    color: $white;

    .container {
        display: flex;
        justify-content: space-between;
    }

    .footerNav {
        display: flex;
        padding: 60.02px 0 35.98px 0;
        gap: 48px;
        font-size: 16px;
        line-height: 1.5;

        @include phone {
            display: none;
        }

        a {
            color: $white;
            text-decoration: none;
        }

    }

    .footerText {

        padding-bottom: 32px;

        @include phone {
            padding-top: 24px;
            padding-bottom: 24px;
        }

        a {
            color: $white;
            text-decoration: none;
            font-size: 36px;
            line-height: 1.5;

            @include phone {
                font-size: 16px;

            }

        }

        span {
            vertical-align: middle;
            padding-right: 22px;
            font-size: 36px;

            @include phone {
                font-size: 16px;
                padding-right: 11px;
            }
        }



    }

    .footerRight {

        display: flex;
        gap: 16px;
        padding-top: 48px;

        @include phone {
            padding-top: 24px;
        }

        img {
            width: 48px;
            height: 48px;

            @include phone {
                width: 24px;
                height: 24px;

            }
        }
    }

    .footerCopyright {
        border-top: 1px solid $white;
        padding: 32px 0;
        display: flex;
        justify-content: space-between;

        @include phone {
            padding: 8px 14px 24px 13px;
            flex-direction: column;
        }

        .footerCn {
            display: flex;
            gap: 48px;

            @include phone {
                padding-top: 8px;
                gap: 8px;
                flex-direction: column;
            }
        }
    }
}