h2 {
    color: $danger-dark;
    font-weight: bold;
    font-size: 48px;
    padding-bottom: 48px;
}

@include phone {
    h2 {
        font-size: 24px;
        padding-bottom: 24px;
    }
}

.banner {
    background-image: url("../images/home-header.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 787px;


    @include pad {
        background-image: url("../images/home-header-sm.png");

    }

    @include phone {
        height: 396px;
    }


    &__title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        height: 100%;

    }

    h1 {
        color: $danger-dark;

    }

    span {
        color: $danger-dark;

    }

    @include phone {
        h1 {
            font-size: 24px;
            margin-bottom: 8px;
        }

        span {
            font-size: 16px;
        }
    }
}


.profession {
    text-align: center;
    padding: 80px 0;
    background-color: $secondary;

    @include phone {
        padding: 40px 0;
    }

    h2 {
        @include phone {
            padding-bottom: 24px;
        }
    }



    &__list {
        display: flex;
        justify-content: space-between;


        li {
            width: 23.6%;

            h3 {
                color: $danger-dark;
            }

            img {
                width: 83px;
                height: 83px;
            }

            p {
                text-align: left;
                color: $dark;

                @include phone {
                    text-align: center;
                }

            }
        }


        @include pad {

            flex-wrap: wrap;

            li {
                width: 43.8%;
            }


        }

        @include phone {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 32px;

            li {
                width: 100%;
            }



        }
    }

}





.classic {

    text-align: center;
    padding: 80px 0;

    @include phone {
        padding: 40px 0;
    }

    &__list {
        display: flex;
        justify-content: space-between;



        li {
            width: 32%;
        }



        img {
            width: 100%;
        }

        p {
            color: $primary ;

            @include phone {
                padding-bottom: 24px;

                &:last-child {
                    padding-bottom: 0;
                }
            }
        }

        @include pad {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;

            li {
                width: 43.75%
            }

        }

        @include phone {


            li {
                width: 100%;
            }
        }


    }


}

.design {
    background-image: url("../images/index-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 80px 0;
    text-align: center;


    @include pad {
        background-image: url("../images/index-bg-sm.png");
        padding: 40px 0;

    }



    h2 {
        color: $light;


        @include phone {
            padding-bottom: 24px;
            padding-top: 24px;
        }

    }


    &__list {
        display: flex;
        justify-content: space-between;

        @include pad {
            flex-direction: column;
            text-align: center;
            justify-content: center;
            align-items: center;
        }

    }

    li {
        .design__double {
            display: block;

            @include phone {
                display: none;

            }
        }



        .design__double__sm {
            display: none;

            @include phone {
                display: block;

            }
        }



        .design__youth {
            display: block;

            @include phone {
                display: none;

            }
        }



        .design__youth__sm {
            display: none;

            @include phone {
                display: block;
            }

        }


    }

    p {
        color: $primary ;
        background-color: $light;
    }
}

.comments {

    text-align: center;
    padding: 80px 0px;

    @include phone {
        padding: 40px 0;
    }

    &__list {
        text-align: left;

        li {
            width: 23.6%;
        }



        img {
            width: 100%;
            vertical-align: middle;
        }

        @include pad {

            flex-wrap: wrap;

            li {
                width: 48.3%;
                margin-bottom: 24px;

                :last-child {
                    margin-bottom: 0px;
                }
            }

        }

        @include phone {
            flex-direction: column;
            justify-content: center;
            align-items: center;

            li {
                width: 100%;
            }
        }
    }

    .card__item {
        border: 1px solid;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 205px;
        padding: 16px;
        border-color: #DEE2E6;
        border-radius: 4px;
        box-shadow: 0px 2px 6px #00000029;

        time {
            color: $gray-100;
            font-size: 14px;
        }


    }


}


.contact {
    background-color: $secondary;
}


.contact__box {
    max-width: 636px;
    padding: 80px 0;

    @include phone {
        padding: 40px 14px;

    }


    .contact__form__box {
        width: 100%;
        margin-top: 8px;
        margin-bottom: 16px;
        padding: 8px;
        background-color: $secondary;
        border: 1px solid $dark;
    }

    .size {
        height: 136px;
    }

}