h2 {
    color: $secondary;
    font-weight: bold;
    font-size: 48px;
    padding-bottom: 48px;
}

@include phone {
    h2 {
        font-size: 24px;
        padding-bottom: 24px;
    }
}

.banner {
    background-image: url("../images/home-header.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 787px;


    @include pad {
        background-image: url("../images/home-header-sm.png");

    }

    @include phone {
        height: 396px;
    }


    .title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        height: 100%;

    }

    h1 {
        color: $secondary;
        font-weight: bold;
        font-size: 64px;
    }


    span {
        color: $secondary;
        font-size: 36px;


    }


    a {
        padding: 6px 12px;
        background-color: $primary;
        color: $white;
        text-decoration: none;
    }

    @include phone {
        h1 {
            font-size: 24px;
            margin-bottom: 8px;
        }

        span {
            font-size: 16px;
        }


    }
}


.profession {
    text-align: center;
    padding: 80px 0px;
    background-color: $bg-primary;

    @include phone {
        padding: 40px 0;
    }

    h2 {
        padding-bottom: 32px;

        @include phone {
            padding-bottom: 24px;
        }
    }



    .professionList {
        display: flex;
        justify-content: space-between;


        li {
            width: 23.6%;

            h3 {
                color: $secondary;
                font-weight: bold;
                font-size: 24px;

            }

            p {
                text-align: left;
                color: $black;

                @include phone {
                    text-align: center;
                }

            }
        }


        @include pad {

            flex-wrap: wrap;

            li {
                width: 43.8%;
            }
        }

        @include phone {
            flex-direction: column;
            justify-content: center;
            align-items: center;

            li {
                width: 100%;
            }


        }
    }

}





.classic {

    text-align: center;
    padding: 80px 0px;

    @include phone {
        padding: 40px 0;
    }

    .classicList {
        display: flex;
        justify-content: space-between;



        li {
            width: 32%;
        }



        img {
            width: 100%;
        }

        p {
            font-size: 48px;
            color: $primary ;
            font-weight: bold;

            @include phone {
                padding-bottom: 24px;

                &:last-child {
                    padding-bottom: 0;
                }
            }
        }

        @include pad {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;

            li {
                width: 43.75%
            }

        }

        @include phone {


            li {
                width: 100%;
            }
        }


    }


}

.design {
    background-image: url("../images/index-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 80px 0;
    text-align: center;


    @include pad {
        background-image: url("../images/index-bg-sm.png");
        padding: 40px 0;

    }



    h2 {
        color: $white;


        @include phone {
            padding-bottom: 24px;
            padding-top: 24px;
        }

    }


    .designList {
        display: flex;
        justify-content: space-between;

        @include pad {
            flex-direction: column;
            text-align: center;
            justify-content: center;
            align-items: center;
        }

    }

    li {
        .designDoubleA {
            display: block;

            @include phone {
                display: none;

            }
        }



        .designDoubleA-sm {
            display: none;

            @include phone {
                display: block;

            }
        }



        .designYouth {
            display: block;

            @include phone {
                display: none;

            }
        }



        .designYouth-sm {
            display: none;

            @include phone {
                display: block;
            }

        }


    }



    p {
        font-size: 48px;
        color: $primary ;
        font-weight: bold;
        background-color: $white;

    }
}

.comments {

    text-align: center;
    padding: 80px 0px;

    @include phone {
        padding: 40px 0;
    }

    .commentsList {
        display: flex;
        justify-content: space-between;
        text-align: left;



        li {
            width: 23.6%;
        }



        img {
            width: 100%;
            vertical-align: middle;
        }

        @include pad {

            flex-wrap: wrap;

            li {
                width: 48.3%;
                margin-bottom: 24px;

                :last-child {
                    margin-bottom: 0px;
                }
            }

        }

        @include phone {
            flex-direction: column;
            justify-content: center;
            align-items: center;

            li {
                width: 100%;
            }
        }
    }

    .cardDetails {
        border: 1px solid;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 205px;
        padding: 16px;
        border-color: #DEE2E6;
        border-radius: 4px;
        box-shadow: 0px 2px 6px #00000029;

        span {
            color: #707070;
            ;
            font-size: 14px;
        }


    }


}



.contactInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $bg-primary ;



}


.contactBox {
    max-width: 636px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 0;

    @include phone {
        padding: 40px 0;

    }


    .contact {
        width: 100%;
        margin-top: 8px;
        margin-bottom: 16px;
        padding: 8px;
        background-color: $bg-primary;
        border: 1px solid #000000;
    }

    .size {
        height: 136px;
    }

    .btn {
        width: 65.4%;
        display: block;
        margin: 0 auto;
        margin-top: 48px;
        padding: 16px 0;
        background-color: $primary ;
        color: $white;
        border: none;

        &:hover {
            color: $secondary;
        }

    }
}