/*color*/
.mb-0 {
  margin-bottom: 8px;
}

.mb-1 {
  margin-bottom: 16px;
}

.mb-2 {
  margin-bottom: 24px;
}

.mb-3 {
  margin-bottom: 32px;
}

.mb-4 {
  margin-bottom: 40px;
}

.mb-5 {
  margin-bottom: 48px;
}

.mb-6 {
  margin-bottom: 80px;
}

.pb-0 {
  padding-bottom: 8px;
}

.pb-1 {
  padding-bottom: 16px;
}

.pb-2 {
  padding-bottom: 24px;
}

.pb-3 {
  padding-bottom: 32px;
}

.pb-4 {
  padding-bottom: 40px;
}

.pb-5 {
  padding-bottom: 48px;
}

.pb-6 {
  padding-bottom: 80px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400px;
  line-height: 1.5;
}

.container {
  max-width: 1296px;
  margin: 0 auto;
}

.header {
  background-color: #AA0601;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .container .logo a {
  display: block;
  padding: 16px 0px 15.43px 0px;
}

.header .container .logo img {
  width: 80px;
  height: 48.57px;
}

.header .nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 64px;
}

.header .nav ul li {
  padding: 25px 0px;
  font-size: 20px;
  line-height: 1.5;
}

.header .nav ul li a {
  color: #fff;
  text-decoration: none;
}

.footer {
  background-color: #AA0601;
  color: #fff;
}

.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .footerNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 60.02px 0 35.98px 0;
  gap: 48px;
  font-size: 16px;
  line-height: 1.5;
}

.footer .footerNav a {
  color: #fff;
  text-decoration: none;
}

.footer .footerText {
  padding-bottom: 32px;
}

.footer .footerText a {
  color: #fff;
  text-decoration: none;
  font-size: 36px;
  line-height: 1.5;
}

.footer .footerText span {
  vertical-align: middle;
  padding-right: 22px;
  font-size: 36px;
}

.footer .footerRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 48px;
  padding-top: 48px;
}

.footer .footerRight img {
  width: 48px;
  height: 48px;
}

.footer .footerCopyright {
  border-top: 1px solid #fff;
  padding: 32px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .footerCopyright .footerCn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 48px;
}

h2 {
  color: #650300;
  font-weight: bold;
  font-size: 48px;
  padding-bottom: 48px;
}

.banner {
  background-image: url("../images/home-header.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 787px;
}

.banner .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 100%;
}

.banner h1 {
  color: #650300;
  font-weight: bold;
  font-size: 64px;
}

.banner span {
  color: #650300;
  font-size: 36px;
  line-height: 54px;
}

.banner a {
  padding: 6px 12px;
  background-color: #AA0601;
  color: #fff;
  text-decoration: none;
}

.profession {
  text-align: center;
  padding: 80px 0px;
  background-color: #FBF2F2;
}

.profession h2 {
  padding-bottom: 32px;
}

.profession .professionList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.profession .professionList li {
  width: 23.6%;
}

.profession .professionList li h3 {
  color: #650300;
  font-weight: bold;
  font-size: 24px;
}

.profession .professionList li p {
  text-align: left;
  color: #000000;
}

.classic {
  text-align: center;
  padding-top: 80px;
}

.classic .classicList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.classic .classicList li {
  width: 32%;
}

.classic .classicList img {
  width: 100%;
}

.classic .classicList p {
  font-size: 48px;
  color: #AA0601;
  font-weight: bold;
}

.design {
  background-image: url("../images/index-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 608px;
  text-align: center;
  padding-top: 80px;
}

.design h2 {
  color: #fff;
}

.design .designList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #fff;
}

.design .designList li {
  width: 50%;
}

.design .designList img {
  width: 100%;
}

.design .designList p {
  font-size: 48px;
  color: #AA0601;
  font-weight: bold;
}

.comments {
  text-align: center;
  padding: 80px 0px;
}

.comments .commentsList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: left;
}

.comments .commentsList li {
  width: 23.6%;
}

.comments .commentsList img {
  width: 100%;
  vertical-align: middle;
}

.comments .cardDetails {
  border: 1px solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 205px;
  padding: 16px;
  border-color: #DEE2E6;
  border-radius: 4px;
  -webkit-box-shadow: 0px 2px 6px #00000029;
          box-shadow: 0px 2px 6px #00000029;
}

.comments .cardDetails span {
  color: #707070;
  font-size: 14px;
}

.classic {
  text-align: center;
  padding-top: 80px;
}

.classic .classicList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.classic .classicList li {
  width: 32%;
}

.classic .classicList img {
  width: 100%;
}

.classic .classicList p {
  font-size: 48px;
  color: #AA0601;
  font-weight: bold;
}

.contactInfo {
  border: 1px solid pink;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FBF2F2;
  padding-top: 80px;
}

.contactBox {
  max-width: 636px;
  border: 1px solid purple;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 80px;
}

.contactBox label {
  display: inline-block;
}

.contactBox input {
  display: inline-block;
  padding: 8px 12px;
}
/*# sourceMappingURL=all.css.map */