/* $theme-colors*/
/*bg-color*/
.container {
  max-width: 1320px;
  padding: 0 12px;
  margin: 0 auto;
}

@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }
}

@media (max-width: 767px) {
  .container {
    padding: 0 14px;
  }
}

/*margin*/
.mb-1 {
  margin-bottom: 4px;
}

.mb-2 {
  margin-bottom: 8px;
}

.mb-3 {
  margin-bottom: 16px;
}

.mb-4 {
  margin-bottom: 24px;
}

.mb-5 {
  margin-bottom: 32px;
}

.mb-6 {
  margin-bottom: 48px;
}

.mb-7 {
  margin-bottom: 64px;
}

.mb-8 {
  margin-bottom: 80px;
}

/*padding*/
.pb-1 {
  padding-bottom: 4px;
}

.pb-2 {
  padding-bottom: 8px;
}

.pb-3 {
  padding-bottom: 16px;
}

.pb-4 {
  padding-bottom: 24px;
}

.pb-5 {
  padding-bottom: 32px;
}

.pb-6 {
  padding-bottom: 48px;
}

.pb-7 {
  padding-bottom: 64px;
}

.pb-8 {
  padding-bottom: 80px;
}

/*flex*/
.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.justify-content-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.justify-content-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.text-align-center {
  text-align: center;
}

/*$font-size*/
.fs-1 {
  font-size: 12px;
}

.fs-2 {
  font-size: 14px;
}

.fs-3 {
  font-size: 16px;
}

.fs-4 {
  font-size: 20px;
}

.fs-5 {
  font-size: 24px;
}

.fs-6 {
  font-size: 32px;
}

.fs-7 {
  font-size: 36px;
}

.fs-8 {
  font-size: 42px;
}

.fs-9 {
  font-size: 48px;
}

.fs-10 {
  font-size: 64px;
}

/*font-weight*/
.fw-bold {
  font-weight: bold;
}

.fw-light {
  font-weight: lighter;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  display: block;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.5;
}

.btn {
  background-color: #AA0601;
  color: #FFFFFF;
  text-decoration: none;
}

.btn:hover {
  background-color: #650300;
  -webkit-transform: all .5s ease-in;
          transform: all .5s ease-in;
}

.btn__buy {
  padding: 6px 12px;
}

.btn__send {
  width: 65.4%;
  display: block;
  margin: 0 auto;
  margin-top: 48px;
  padding: 16px 0;
  border: none;
  cursor: pointer;
}

#menu__control {
  position: absolute;
  z-index: -2;
  opacity: 0;
}

#menu__control:checked ~ .navbar {
  top: 100%;
}

.header {
  background-color: #AA0601;
  position: relative;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .container::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.header .logo {
  z-index: 1;
}

.header .logo__link {
  display: block;
  padding: 16px 0px 15.43px 0px;
}

.header .logo__img {
  width: 80px;
  height: 48.57px;
}

.header .lebel {
  z-index: 1;
}

.header .navbar {
  gap: 64px;
  z-index: 1;
}

@media (max-width: 767px) {
  .header .navbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0px;
    right: 0;
    background-color: #AA0601;
    display: block;
    text-align: center;
    width: 100%;
    position: absolute;
    top: -500px;
    -webkit-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
    z-index: 0;
  }
}

.header .navbar__item {
  padding: 25px 0px;
}

.header .navbar__item a {
  color: #FFFFFF;
  text-decoration: none;
}

@media (max-width: 767px) {
  .header .navbar__item a {
    display: block;
  }
}

.header .menu__btn {
  width: 30px;
  height: 20px;
  background: #AA0601;
  display: block;
  position: absolute;
  top: 30px;
  right: 20px;
  display: none;
  cursor: pointer;
  z-index: 1;
}

.header .menu__btn::before {
  content: '';
  position: absolute;
  width: 30px;
  height: 2px;
  top: 0px;
  bottom: 0px;
  margin: auto;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0 10px 0 #FFFFFF, 0 -10px 0 #FFFFFF;
          box-shadow: 0 10px 0 #FFFFFF, 0 -10px 0 #FFFFFF;
}

.header .menu__btn span {
  opacity: 0;
  width: 1px;
  height: 1px;
  display: block;
  overflow: hidden;
}

@media (max-width: 767px) {
  .header .menu__btn {
    display: block;
  }
}

.footer {
  background-color: #AA0601;
  color: #FFFFFF;
}

.footer .footer__navbar {
  padding: 60.02px 0 35.98px 0;
  gap: 48px;
}

@media (max-width: 767px) {
  .footer .footer__navbar {
    display: none;
  }
}

.footer .footer__navbar a {
  color: #FFFFFF;
  text-decoration: none;
}

@media (max-width: 767px) {
  .footer .footer__text {
    margin-top: 24px;
    margin-bottom: 24px;
  }
}

.footer .footer__text__link {
  color: #FFFFFF;
  text-decoration: none;
}

@media (max-width: 767px) {
  .footer .footer__text__link {
    font-size: 16px;
  }
}

.footer .footer__text span {
  vertical-align: middle;
  padding-right: 22px;
  font-size: 36px;
}

@media (max-width: 767px) {
  .footer .footer__text span {
    font-size: 16px;
    padding-right: 11px;
  }
}

.footer .footer__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  padding-top: 48px;
}

@media (max-width: 767px) {
  .footer .footer__right {
    padding-top: 24px;
  }
}

.footer .footer__right__img {
  width: 48px;
  height: 48px;
}

@media (max-width: 767px) {
  .footer .footer__right__img {
    width: 24px;
    height: 24px;
  }
}

.footer .copyright {
  border-top: 1px solid #FFFFFF;
  padding: 32px 0;
}

@media (max-width: 767px) {
  .footer .copyright {
    padding: 8px 14px 24px 13px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer .copyright__cn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 48px;
}

@media (max-width: 767px) {
  .footer .copyright__cn {
    padding-top: 8px;
    gap: 8px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

h2 {
  color: #650300;
  font-weight: bold;
  font-size: 48px;
  padding-bottom: 48px;
}

@media (max-width: 767px) {
  h2 {
    font-size: 24px;
    padding-bottom: 24px;
  }
}

.banner {
  background-image: url("../images/home-header.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 787px;
}

@media (max-width: 992px) {
  .banner {
    background-image: url("../images/home-header-sm.png");
  }
}

@media (max-width: 767px) {
  .banner {
    height: 396px;
  }
}

.banner__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 100%;
}

.banner h1 {
  color: #650300;
}

.banner span {
  color: #650300;
}

@media (max-width: 767px) {
  .banner h1 {
    font-size: 24px;
    margin-bottom: 8px;
  }
  .banner span {
    font-size: 16px;
  }
}

.profession {
  text-align: center;
  padding: 80px 0;
  background-color: #FBF2F2;
}

@media (max-width: 767px) {
  .profession {
    padding: 40px 0;
  }
}

@media (max-width: 767px) {
  .profession h2 {
    padding-bottom: 24px;
  }
}

.profession__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.profession__list li {
  width: 23.6%;
}

.profession__list li h3 {
  color: #650300;
}

.profession__list li img {
  width: 83px;
  height: 83px;
}

.profession__list li p {
  text-align: left;
  color: #000000;
}

@media (max-width: 767px) {
  .profession__list li p {
    text-align: center;
  }
}

@media (max-width: 992px) {
  .profession__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .profession__list li {
    width: 43.8%;
  }
}

@media (max-width: 767px) {
  .profession__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 32px;
  }
  .profession__list li {
    width: 100%;
  }
}

.classic {
  text-align: center;
  padding: 80px 0;
}

@media (max-width: 767px) {
  .classic {
    padding: 40px 0;
  }
}

.classic__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.classic__list li {
  width: 32%;
}

.classic__list img {
  width: 100%;
}

.classic__list p {
  color: #AA0601;
}

@media (max-width: 767px) {
  .classic__list p {
    padding-bottom: 24px;
  }
  .classic__list p:last-child {
    padding-bottom: 0;
  }
}

@media (max-width: 992px) {
  .classic__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .classic__list li {
    width: 43.75%;
  }
}

@media (max-width: 767px) {
  .classic__list li {
    width: 100%;
  }
}

.design {
  background-image: url("../images/index-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 80px 0;
  text-align: center;
}

@media (max-width: 992px) {
  .design {
    background-image: url("../images/index-bg-sm.png");
    padding: 40px 0;
  }
}

.design h2 {
  color: #FFFFFF;
}

@media (max-width: 767px) {
  .design h2 {
    padding-bottom: 24px;
    padding-top: 24px;
  }
}

.design__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 992px) {
  .design__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.design li .design__double {
  display: block;
}

@media (max-width: 767px) {
  .design li .design__double {
    display: none;
  }
}

.design li .design__double__sm {
  display: none;
}

@media (max-width: 767px) {
  .design li .design__double__sm {
    display: block;
  }
}

.design li .design__youth {
  display: block;
}

@media (max-width: 767px) {
  .design li .design__youth {
    display: none;
  }
}

.design li .design__youth__sm {
  display: none;
}

@media (max-width: 767px) {
  .design li .design__youth__sm {
    display: block;
  }
}

.design p {
  color: #AA0601;
  background-color: #FFFFFF;
}

.comments {
  text-align: center;
  padding: 80px 0px;
}

@media (max-width: 767px) {
  .comments {
    padding: 40px 0;
  }
}

.comments__list {
  text-align: left;
}

.comments__list li {
  width: 23.6%;
}

.comments__list img {
  width: 100%;
  vertical-align: middle;
}

@media (max-width: 992px) {
  .comments__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .comments__list li {
    width: 48.3%;
    margin-bottom: 24px;
  }
  .comments__list li :last-child {
    margin-bottom: 0px;
  }
}

@media (max-width: 767px) {
  .comments__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .comments__list li {
    width: 100%;
  }
}

.comments .card__item {
  border: 1px solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 205px;
  padding: 16px;
  border-color: #DEE2E6;
  border-radius: 4px;
  -webkit-box-shadow: 0px 2px 6px #00000029;
          box-shadow: 0px 2px 6px #00000029;
}

.comments .card__item time {
  color: #707070;
  font-size: 14px;
}

.contact {
  background-color: #FBF2F2;
}

.contact__box {
  max-width: 636px;
  padding: 80px 0;
}

@media (max-width: 767px) {
  .contact__box {
    padding: 40px 14px;
  }
}

.contact__box .contact__form__box {
  width: 100%;
  margin-top: 8px;
  margin-bottom: 16px;
  padding: 8px;
  background-color: #FBF2F2;
  border: 1px solid #000000;
}

.contact__box .size {
  height: 136px;
}

.header__selection__list {
  border: 1px solid #DCDCDC;
  z-index: -1;
  text-align: center;
  width: 33.33%;
}

@media (max-width: 992px) {
  .header__selection__list {
    font-size: 24px;
  }
}

@media (max-width: 767px) {
  .header__selection__list {
    font-size: 16px;
  }
}

.header__selection .active {
  position: relative;
}

.header__selection .active::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 8px;
  bottom: 0;
  left: 0;
  background-color: #AA0601;
}

.header__selection__list a {
  padding: 24px 0;
  color: #000000;
}

@media (max-width: 992px) {
  .header__selection__list a {
    padding: 16px 0;
  }
}

.header__optical {
  height: 296px;
}

@media (max-width: 767px) {
  .header__optical {
    height: 136px;
    margin-bottom: 40px;
  }
}

.header__optical__book {
  background-image: url("../images/product-header-1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 50%;
}

@media (max-width: 992px) {
  .header__optical__book {
    background-image: url("../images/product-header-sm-1.png");
  }
}

@media (max-width: 767px) {
  .header__optical__book {
    background-image: url("../images/product-header-sm-1.png");
  }
}

.header__optical__girl {
  background-image: url("../images/product-header-2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 50%;
}

@media (max-width: 992px) {
  .header__optical__girl {
    background-image: url("../images/product-header-sm-2.png");
  }
}

@media (max-width: 767px) {
  .header__optical__girl {
    background-image: url("../images/product-header-sm-2.png");
  }
}

@media (max-width: 767px) {
  .optical h3 {
    font-size: 24px;
  }
}

@media (max-width: 767px) {
  .optical h5 {
    padding-bottom: 24px;
    font-size: 24px;
  }
}

.product {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 24px;
}

.product__item {
  width: calc((100% - (24px*3))/4);
  margin-bottom: 80px;
}

@media (max-width: 992px) {
  .product__item {
    width: calc((100% - 24px)/2);
    margin-bottom: 40px;
  }
}

@media (max-width: 767px) {
  .product__item {
    width: 100%;
    margin-bottom: 24px;
  }
}

.product__item__img {
  width: 100%;
}

.product__item__price {
  color: #AA0601;
}

.product__color__gray {
  width: 24px;
  height: 24px;
  background-color: #5F3E2D;
  margin-right: 8px;
  border-radius: 4px;
}

.product__color__orange {
  width: 24px;
  height: 24px;
  background-color: #B75929;
  border-radius: 4px;
}

.page__item {
  padding: 12px 14px;
  border: 1px solid #555555;
}

.page__item__privious {
  padding: 12px 12px;
  border: 1px solid #555555;
}

.page__item__next {
  padding: 12px 12px;
  border: 1px solid #555555;
  background-color: #F2F2F2;
}

.pageactive {
  background-color: #000000;
}

.page-link {
  color: #555555;
}

.page-link:hover {
  color: #FFFFFF;
}
/*# sourceMappingURL=all.css.map */