/*color*/
.mb-0 {
  margin-bottom: 8px; }

.mb-1 {
  margin-bottom: 16px; }

.mb-2 {
  margin-bottom: 24px; }

.mb-3 {
  margin-bottom: 32px; }

.mb-4 {
  margin-bottom: 40px; }

.mb-5 {
  margin-bottom: 48px; }

.mb-6 {
  margin-bottom: 80px; }

.pb-0 {
  padding-bottom: 8px; }

.pb-1 {
  padding-bottom: 16px; }

.pb-2 {
  padding-bottom: 24px; }

.pb-3 {
  padding-bottom: 32px; }

.pb-4 {
  padding-bottom: 40px; }

.pb-5 {
  padding-bottom: 48px; }

.pb-6 {
  padding-bottom: 80px; }

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0px 12px; }
  @media (max-width: 992px) {
    .container {
      max-width: 720px; } }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

a {
  text-decoration: none;
  display: block; }

img {
  max-width: 100%;
  height: auto; }

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400px;
  line-height: 1.5; }

.header {
  background-color: #AA0601; }
  .header .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .header .container .logo a {
      display: block;
      padding: 16px 0px 15.43px 0px; }
    .header .container .logo img {
      width: 80px;
      height: 48.57px; }
  .header .nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 64px; }
    .header .nav ul li {
      padding: 25px 0px;
      font-size: 20px;
      line-height: 1.5; }
      .header .nav ul li a {
        color: #fff;
        text-decoration: none; }

.footer {
  background-color: #AA0601;
  color: #fff; }
  .footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .footer .footerNav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 60.02px 0 35.98px 0;
    gap: 48px;
    font-size: 16px;
    line-height: 1.5; }
    .footer .footerNav a {
      color: #fff;
      text-decoration: none; }
  .footer .footerText {
    padding-bottom: 32px; }
    .footer .footerText a {
      color: #fff;
      text-decoration: none;
      font-size: 36px;
      line-height: 1.5; }
    .footer .footerText span {
      vertical-align: middle;
      padding-right: 22px;
      font-size: 36px; }
  .footer .footerRight {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 16px;
    padding-top: 48px; }
    .footer .footerRight img {
      width: 48px;
      height: 48px; }
  .footer .footerCopyright {
    border-top: 1px solid #fff;
    padding: 32px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .footer .footerCopyright .footerCn {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      gap: 48px; }

h2 {
  color: #650300;
  font-weight: bold;
  font-size: 48px;
  padding-bottom: 48px; }

@media (max-width: 767px) {
  h2 {
    font-size: 24px; } }

.banner {
  background-image: url("../images/home-header.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 787px; }
  @media (max-width: 992px) {
    .banner {
      background-image: url("../images/home-header-sm.png"); } }
  .banner .title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    height: 100%; }
  .banner h1 {
    color: #650300;
    font-weight: bold;
    font-size: 64px; }
  .banner span {
    color: #650300;
    font-size: 36px; }
  .banner a {
    padding: 6px 12px;
    background-color: #AA0601;
    color: #fff;
    text-decoration: none; }
  @media (max-width: 767px) {
    .banner h1 {
      font-size: 24px;
      margin-bottom: 8px; }
    .banner span {
      font-size: 16px; } }

.profession {
  text-align: center;
  padding: 80px 0px;
  background-color: #FBF2F2; }
  .profession h2 {
    padding-bottom: 32px; }
  @media (max-width: 767px) {
    .profession h3 {
      font-size: 24px; } }
  .profession .professionList {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .profession .professionList li {
      width: 23.6%; }
      .profession .professionList li h3 {
        color: #650300;
        font-weight: bold;
        font-size: 24px; }
      .profession .professionList li p {
        text-align: left;
        color: #000000; }
    @media (max-width: 992px) {
      .profession .professionList {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
        .profession .professionList li {
          width: 43.8%; } }
    @media (max-width: 767px) {
      .profession .professionList {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
        .profession .professionList li {
          width: 100%; } }

.classic {
  text-align: center;
  padding-top: 80px; }
  .classic .classicList {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .classic .classicList li {
      width: 32%; }
    .classic .classicList img {
      width: 100%; }
    .classic .classicList p {
      font-size: 48px;
      color: #AA0601;
      font-weight: bold; }
    @media (max-width: 992px) {
      .classic .classicList {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
        .classic .classicList li {
          width: 43.75%; } }
    @media (max-width: 767px) {
      .classic .classicList li {
        width: 100%; } }

.design {
  background-image: url("../images/index-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 608px;
  text-align: center;
  padding-top: 80px; }
  @media (max-width: 992px) {
    .design {
      background-image: url("../images/index-bg-sm.png");
      height: 960px; } }
  .design h2 {
    color: #fff; }
  .design .designList {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: #fff; }
    @media (max-width: 992px) {
      .design .designList {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        text-align: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; } }
    .design .designList li {
      width: 50%; }
      @media (max-width: 992px) {
        .design .designList li {
          width: 103.5%; } }
      .design .designList li .designDoubleA {
        display: block; }
      .design .designList li .designDoubleA-sm {
        display: none; }
      .design .designList li .designYouth {
        display: block; }
      .design .designList li .designYouth-sm {
        display: none; }
    .design .designList p {
      font-size: 48px;
      color: #AA0601;
      font-weight: bold; }

.comments {
  text-align: center;
  padding: 80px 0px; }
  .comments .commentsList {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: left; }
    .comments .commentsList li {
      width: 23.6%; }
    .comments .commentsList img {
      width: 100%;
      vertical-align: middle; }
    @media (max-width: 992px) {
      .comments .commentsList {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
        .comments .commentsList li {
          width: 48.3%;
          margin-bottom: 24px; }
          .comments .commentsList li :last-child {
            margin-bottom: 0px; } }
    @media (max-width: 767px) {
      .comments .commentsList {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
        .comments .commentsList li {
          width: 100%; } }
  .comments .cardDetails {
    border: 1px solid;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    height: 205px;
    padding: 16px;
    border-color: #DEE2E6;
    border-radius: 4px;
    -webkit-box-shadow: 0px 2px 6px #00000029;
            box-shadow: 0px 2px 6px #00000029; }
    .comments .cardDetails span {
      color: #707070;
      font-size: 14px; }

.contactInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FBF2F2;
  padding-top: 80px; }

.contactBox {
  max-width: 636px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 80px; }
  .contactBox .contact {
    width: 100%;
    margin-top: 8px;
    margin-bottom: 16px;
    padding: 8px;
    background-color: #FBF2F2;
    border: 1px solid #000000; }
  .contactBox .size {
    height: 136px; }
  .contactBox .btn {
    width: 65.4%;
    display: block;
    margin: 0 auto;
    margin-top: 48px;
    padding: 16px 0;
    background-color: #AA0601;
    color: #fff;
    border: none; }
    .contactBox .btn:hover {
      color: #650300; }

/*# sourceMappingURL=all.css.map */
