.container {
    max-width: 1320px;
    margin: 0 auto;
    padding: 0px 12px;

    @include pad {
        max-width: 720px;

    }

    @include phone {
        padding-right: 14px;
        padding-left: 13px;
    }
}