/* $theme-colors*/

$primary: #AA0601;
$orange-600: #B75929;
$gray-600: #5F3E2D;
$gray-500: #555555;
$gray-100: #707070;
$dark: #000000;
$light: #FFFFFF;

/*bg-color*/
$secondary: #FBF2F2;
$danger-dark: #650300;